{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Document</title>
</head>
<style>
    .select_form{
        width: 100%;
        background-color: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;
        color: white; 
    }
    .imagen_relleno {
        font-size: 25px;
        font-family: "calibri";
    }
    .imagen_relleno img{
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 20px;
    }
    .abajo label{
        font-size: 20px;
        font-weight: bold;
    }
</style>
<body>
    <div class="arriba">
        <div class="btn_graf">
            <button onclick='location.href="/gananciaxEmp"'>Ganancia por Empleado</button><br>
            <button onclick='location.href="/pedxEmp"'>Pedidos por Empleado</button><br>
            <button onclick='location.href="/pedxHora"'>Pedidos por Hora</button><br>
            <button onclick='location.href="/pedxDia"'>Pedidos por Dia</button>
            <br><br>
            <button onclick='location.href="/empleados"'>Lista de Empleados</button>
        </div>
        <div class="imagen_relleno">
            <h2>Sistema de asignación de pedidos</h2>
            <img src="../../static/Imagenes/imgsistema.jpeg" alt="" height="400px" width="450px">
            <p>Este sistema esta diseñado para poder ver una simulación de todas las estadisticas sobre pedidos, sueldos y número de pedidos por empleados.</p>
            <p>Optimizando las entregas a nuestros clientes a traves del algoritmo implementado en nuestro sistema, brindando una minimización de costos y una maximización de las ganancias.</p>
        </div>
    </div>
    <div class="abajo">
        <form action="/inicio/" method="POST" class="formulario">
            {% csrf_token %}
            <h4>Realizar Pedido</h4>
            <label for="dia">Selecciona el dia</label>
            <select class="select_form" name="dia" id="dia">
                <option value="LUNES">Lunes</option>
                <option value="MARTES">Martes</option>
                <option value="MIERCOLES">Miercoles</option>
                <option value="JUEVES">Jueves</option>
                <option value="VIERNES">Viernes</option>
                <option value="SABADO">Sabado</option>
                <option value="DOMINGO">Domingo</option>
            </select>
            <label for="hora">Ingrese la hora</label>
            <input class="input_form" type="number" name="hora" id="hora" placeholder="Hora">
            <label for="number">Ingrese la cantidad</label>
            <input class="input_form" type="number" name="cantidad" id="cantidad" placeholder="Cantidad">
            <label for="ciudades">Seleccione el departamento</label>
            <select class="select_form" name="ciudades" id="ciudades">
                <option value="Cochabamba">Cochabamba</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="La Paz">La Paz</option>
                <option value="Tarija">Tarija</option>
                <option value="Chuquisaca">Chuquisaca</option>
                <option value="Pando">Pando</option>
                <option value="Beni">Beni</option>
                <option value="Oruro">Oruro</option>
                <option value="Potosi">Potosi</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>