* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    text-align: center;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.input_form{
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px; 
}
.formulario button{
    width: 80%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px;
}
.formulario button:hover{
    background-color: #0e2135;
}
canvas {
    max-width: 100%;
}